<h1>Здесь будет вопрос</h1>
<%= form_tag(quiz_result_path, method: :get) do %>
	
	<% if @questions.present? && @questions.count != 0 %>
		<% @questions.each do |q| %>
			<% if q.present? && q.answers.present? %>
				<%= q.content %>
				
				<ol>
					<% q.answers.each do |a| %>
						<li>
							<%= radio_button_tag "questions["+q.id.to_s+"]", a.id  %><!--1 param - name, 2 param - value-->
							<%= a.content %>
						</li>
					<% end %>
				</ol>
			<% end %>
		<% end %>

		<%= submit_tag "Проверить" %>
	<% else %>
		<%= Вопросов нет %>
	<% end %>

<% end %>