<p id="notice"><%= notice %></p>

<p>
  <strong>Ответ:</strong>
  <%= @answer.content %>
  <br>
  <strong>Вопрос:</strong>
  <%= @answer.question.content %>
  <br>
  <strong>Правильный:</strong>
  <%= @answer.is_correct %>
  <br>
</p>

<%= link_to 'Ред.', edit_answer_path(@answer) %> |
<%= link_to 'Назад', answers_path %>
