<!DOCTYPE html>
<html>
<head>
  <title>Викторина</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<div>
		<%= link_to "Главная", root_path %>

		<% if session[:user_id] != nil %>
			<%= link_to "Викторина", quiz_ask_path %>
			<%= link_to "Настройки", questions_path %>

			<%= User.find(session[:user_id]).login %>
			<%= link_to "Выход", session_path(session[:user_id]), method: :delete %>
		<% else %>
			<%= link_to "Вход", new_session_path %>
			<%= link_to "Регистрация", new_user_path %>
		<% end %>
	</div>
</nav>

<%= yield %>

</body>
</html>
