<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<%= link_to "Главная", root_path %>
	<%= link_to "Викторина", quiz_ask_path %>
	<%= link_to "Настройки", questions_path %>

	<% if session[:user_id] != nil %>	
		<%= User.find(session[:user_id]).login %>
		<%= link_to "Выход", quiz_signout_path %>
	<% end %>
</nav>

<%= yield %>

</body>
</html>
